@import "../../styles/mixins";
@import "../../styles/variables.scss";

.documentsCard_Body_ListGroup {
  margin: 10px;
  max-height: 700px;
  overflow-y: scroll;

  &_Item {
    padding: 5px;
    margin: 10px;
    border: none;
    border-top: 1px solid $background-alive;
    box-shadow: 0 8px 10px #b9b1b1, 0 6px 24px #b9b1b1;
  }
}
