@import "../../styles/mixins";
@import "../../styles/variables.scss";

.customCard {
  background-color: white;
  opacity: 0.75;
  border: 1px solid $background-socialive;
  border-top: 10px solid $background-socialive;
  border-radius: 10px;
  box-shadow: $box-shadow-light;
  color: black;
  flex-basis: 45%;
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;

  .divider-line {
    width: 100%;
  }

  .cardIcon {
    color: $background-alive;
    margin: 10px;
    max-height: 75px;
    max-width: 75px;
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
    border: 1px solid $background-alive;
    border-top: 10px solid $background-alive;
  }

  h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

/** Error Card styling **/
.customErrorCard {
  background-color: white;
  opacity: 0.75;
  border: 1px solid $background-alive;
  border-top: 10px solid $background-alive;
  color: black;
  flex-basis: 45%;
  margin: 10px auto;
  padding: 3rem;
  text-align: center;
  width: 50%;
  min-height: 300px;
  height: fit-content;

  .errorIconDiv {
    margin: 10px auto;
    text-align: center;
  }

  .cardErrorIcon {
    border-radius: 50%;
    border: none;
    color: $background-alive;
    height: 100px;
    width: 100px;
  }

  .errorMessage {
    color: $background-alive;
    text-align: center;
  }
}

@include desktop() {
  .customCard {
    width: 100%;
    margin: 1rem 0;
  }

  .customErrorCard {
    width: 100%;
  }
}
