@import "../../styles/mixins";
@import "../../styles/variables.scss";

.documentsCard {
  background: $background-alive-chrome;
  background: $background-alive-rest;
  background: $background-alive;
  box-shadow: 0 8px 10px #b9b1b1, 0 6px 24px #b9b1b1;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
  max-height: 600px;
  overflow-y: scroll;

  &_Header {
    background-color: transparent;
    border: none;

    &_icon {
      margin-left: 5px;
    }
  }

  &_Body {
    text-align: left;
    &_formInput {
      margin-top: 10px;
      font-size: 1em;
    }
  }
}
