@import "../../styles/mixins";
@import "../../styles/variables.scss";

.patientsCard {
  &ButtonIcon {
    margin-left: 10px;
  }
}

// Patient list card
.patient-card {
  width: 300px;
  height: 400px;
}

.patientListGroup {
  margin-top: 10px;
  max-height: 500px;
  overflow-y: scroll;

  .patientItem {
    border-radius: 10px;
    border: 1px solid $background-alive;
    margin: 10px;
  }
}
