@import "../../styles/mixins";
@import "../../styles/variables.scss";

.profileCard {
  background: $background-socialive-chrome;
  background: $background-socialive-rest;
  background: $background-socialive;
  box-shadow: 0 8px 10px #b9b1b1, 0 6px 24px #b9b1b1;
  border: none;
  border-radius: 10px;
  color: white;

  .profileCardHeader {
    background-color: transparent;
    border: none;
    text-align: center;
    cursor: pointer;

    &_icon {
      margin-left: 5px;
    }
  }

  .profileListGroup {
    .profileListGroupItem {
      background-color: transparent;
      border-bottom-color: white;
    }
  }
}
