@import "../../styles/variables.scss";

.lds_ellipsis {
  display: block;
  height: 80px;
  //   margin: 10px auto;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 80px;

  div {
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    background-color: white;
    background: $background-socialive;
    border-radius: 50%;
    height: 13px;
    position: absolute;
    top: 33px;
    width: 13px;

    &:nth-child(1) {
      left: 8px;
      animation: lds_ellipsis1 0.6s infinite;
    }

    &:nth-child(2) {
      left: 8px;
      animation: lds_ellipsis2 0.6s infinite;
    }

    &:nth-child(3) {
      left: 32px;
      animation: lds_ellipsis2 0.6s infinite;
    }

    &:nth-child(4) {
      left: 56px;
      animation: lds_ellipsis3 0.6s infinite;
    }
  }
}

@keyframes lds_ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds_ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds_ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
