@import "./variables.scss";
@import "./mixins";

.about {
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dd2476,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dd2476,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  box-shadow: $box-shadow-dark;
  height: 50%;
  position: absolute;
  transform: rotate(20deg);
  width: 90%;
  margin-left: -10%;
  z-index: -1000;
}

.aboutContainer {
  .pageHeader {
    -webkit-text-decoration: white solid underline;
    -webkit-text-underline-position: under;
    font-size: 5em;
    margin: 10% auto 2%;
    text-align: center;
    text-decoration: white solid underline;
    text-underline-position: under;
  }

  p {
    text-align: center;
    padding: 5% 10%;
    font-size: larger;
  }

  .aboutHrLine {
    background-color: white;
    width: 70%;
  }

  .cardRow {
    max-width: 100%;
    margin: 10px auto;
  }

  .contactCard {
    background: transparent;
    margin: 10px;
    max-width: 300px;
    border: none;

    .contactCardImage {
      border-radius: 10%;
      width: 150px;
      height: 150px;
      margin: 10px auto;
      box-shadow: 0 6px 10px $background-alive;
      border: 3px solid $background-alive;
    }

    .contactCardBody {
      background: $background-alive-chrome;
      background: $background-alive-rest;
      background: $background-alive;
      border-radius: 10px;
      border: 3px solid $background-alive;
      box-shadow: 0 6px 10px $background-alive;
      color: white;
      margin: auto;
      max-width: inherit;
      text-align: center;
      padding: 10px;
      font-size: 15px;
    }
  }
}

@include desktop() {
  .aboutContainer {
    .pageHeader {
      font-size: 4em;
      margin-top: 20%;
    }

    p {
      margin-top: 10%;
    }

    .contactCard {
      margin: 10px auto;

      .contactCardBody {
        width: 100%;
      }
    }
  }
}
