.dashboardContainer {
  margin: 2%;

  .logoutButton {
    margin-left: auto;
    float: right;
  }

  .eachCardCol {
    padding: 10px;
  }

  .addPatientButton {
    display: block;
    margin-right: auto;
    margin-left: auto;

    &_Icon {
      margin-left: 10px;
    }
  }
}
