@import "./variables.scss";

.footer {
  align-items: center;
  border-top: 1px solid #ff512f;
  bottom: 0;
  color: white;
  display: flex;
  height: 5rem; /* Footer height */
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 1;

  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dd2476,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dd2476,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  img {
    margin-left: 0.5rem;
  }

  .footer_icon {
    color: white; /* fallback for old browsers */
    margin-right: 10px;
    max-height: 2em;
    max-width: 2em;
  }
}
