@import "mixins";
@import "variables.scss";

.container {
  align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  background: url($bg-url) repeat 0 0;
  color: $background-alive;

  -webkit-animation: bg-scrolling-reverse 2s infinite; /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 2s infinite; /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 2s infinite; /* O`pera 22+ */
  animation: bg-scrolling-reverse 2s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;

  /* Animations */
  @-webkit-keyframes bg-scrolling-reverse {
    100% {
      background-position: $bg-width $bg-height;
    }
  }
  @-moz-keyframes bg-scrolling-reverse {
    100% {
      background-position: $bg-width $bg-height;
    }
  }
  @-o-keyframes bg-scrolling-reverse {
    100% {
      background-position: $bg-width $bg-height;
    }
  }
  @keyframes bg-scrolling-reverse {
    100% {
      background-position: $bg-width $bg-height;
    }
  }

  @-webkit-keyframes bg-scrolling {
    0% {
      background-position: $bg-width $bg-height;
    }
  }
  @-moz-keyframes bg-scrolling {
    0% {
      background-position: $bg-width $bg-height;
    }
  }
  @-o-keyframes bg-scrolling {
    0% {
      background-position: $bg-width $bg-height;
    }
  }
  @keyframes bg-scrolling {
    0% {
      background-position: $bg-width $bg-height;
    }
  }
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 5rem 0;
  width: 100%;

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;

    .description {
      text-align: center;
    }
  }

  .submitLine {
    background-color: #ff512f;
    width: 50%;
  }

  .submitCard {
    padding: 10px;
    text-align: center;
    width: 100%;

    .submitButton {
      background: $background-socialive-chrome;
      background: $background-socialive-rest;
      background: $background-socialive;
      border-radius: 10px;
      border: none;
      box-shadow: $box-shadow-light;
      display: block;
      margin: 10px auto;
      width: 20%;

      #submitButtonArrow {
        width: 20px;
        height: 20px;
        margin-left: 5px;
      }
    }
  }
}

.title,
.description {
  line-height: 1.5;
  font-weight: bold;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  max-width: 800px;
}

.card {
  background-color: white;
  opacity: 0.75;
  border: 1px solid $background-socialive;
  border-top: 10px solid $background-socialive;
  box-shadow: $box-shadow-light;
  color: black;
  flex-basis: 45%;
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;

  .submitLine {
    width: 100%;
  }

  .cardIcon {
    color: $background-alive;
    margin: 10px;
    max-height: 75px;
    max-width: 75px;
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
    border-radius: 0;
  }

  h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.logo {
  height: 1em;
}
@include desktop() {
  .grid {
    width: 70%;
    flex-direction: column;
  }

  .main {
    .title {
      font-size: 2.5em;
    }

    .description {
      text-align: center;
    }

    .submitCard {
      .submitButton {
        width: 100%;
      }
    }
  }
}
