@import "mixins";
@import "variables.scss";

.cardBody {
  border-top: 1px solid $background-alive;
  .registrationIllustration {
    background-color: $background-alive;
    box-shadow: 0 10px 10px $background-alive, 0 10px 6px $background-alive;
    border-radius: 10px;
    padding: 50px;
    height: 500px;
    width: 100%;
    margin: 20px auto;
  }

  .user_type_form {
    margin: 2rem 10px;

    .form_field_group {
      padding: 0;
    }
    .form_field {
      margin: 10px;
    }
  }

  .formButton {
    margin: 2rem auto;
    width: 50%;
    display: block;
    background-color: $background-alive;
    border: none;

    &:hover,
    &:active {
      background-color: $background-socialive;
    }

    #formButtonArrow {
      height: 1rem;
      width: 1rem;
      margin-left: 0.5rem;
    }
  }
}

@include desktop() {
  .cardBody {
    width: 100%;
    margin: 0;
    .registrationIllustration {
      height: 300px;
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      display: block;
    }

    .user_type_form {
      margin: 0;

      .form_field {
        margin: 10px;
      }
    }
  }
}
